@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}

.menu {
	min-width: 400px;
	color: #fff;
	position: absolute;
	background: #1c1c1c;
	border-radius: 3px;
	z-index: 99999;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 32px;
	font-weight: bold;
	display: flex;
	align-items: space-between;
	justify-content: center;
	flex-direction: row;
	color: #cfd0ff;
}

.menu .head .hr {
	flex: 1;
	height: 2px;
	border-radius: 2px;
	background-color: #cfd0ff;
}

.menu .head span {
	flex: 2;
}

.menu .menu-items {
	max-height: 600px;
	overflow-y: auto;
}

.menu .menu-items .menu-item {
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	line-height: 32px;
	font-size: 21px;
	color: white;
	text-align: center;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
}

.menu .menu-items .menu-item.selected {
	background-color: #616161;
}